/*  
Title: webform_style.css
Date: 4/23/2023
Author: Veronica Hutchins
Class: CITW 165 
Exercise: Exercise 10 CSS file
*/

/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}

body {
  font-family: Georgia, serif;
  margin: 0 auto;
  padding: 0.15em;
  background-color: rgba(151,181,211, .5);
}
h1 {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255, 1.75);
}
h2 { 
  line-height: 1.1em;
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(242, 230, 255, 0.95);
  font-weight: 700;
}
h4 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(224, 214, 235, 0.75);
  font-weight: 700;
}

section {
  margin: 10px auto 10px auto;
  width: 33%;
  padding: 10px;
  background-color: rgba(56, 80, 100, 0.5);
  border-radius: 15px;
}

label {
	float: left;
  width: 10em;
  text-align: right;
}
input {
    width: 10em;
    margin-left: 1em;
    margin-bottom: .5em;
}
span {
	color: red;
}

input#join {
  padding: 0.35em 1em;
  background-color: rgba(0,0,250,.7);
  color: rgb(255,255,255);
  font-size: 16px;
  border: 0 none;
  cursor: pointer;
  border-radius: 0.55em;
  width: auto;
}
input#reset {
  padding: 0.35em 1em;
  background-color: rgba(0,0,250,.5);
  color: rgb(255,255,255);
  font-size: 16px;
  border: 0 none;
  cursor: pointer;
  border-radius: 0.55em;
  width: auto; 
}

input#join:hover,input#reset:hover {
    background-color: rgb(24, 16, 44);
}

label.error {
    float: none;
    color: #7c127c;
    font-size: 87.5%;
    margin-left: .5em;
    font-family: Geneva, sans-serif;
}
/* dd {
    color: #777;
} */

/* home page link */
#homelink {
	color: rgb(135, 27, 207);
	text-align: center;
	margin: 5em;
}
a {
	color: rgb(135, 27, 207);
}
a:focus, a:hover, a:active { 
	color: #482c8a; 
}


/* MEDIA QUERIES */

/* Small screen:mobile */
@media only screen and (max-width: 500px) {
  body {
      background-color: #403c3b;
  }
  #pg {
    max-width: 480px;
  }
  section {
    background-color: #5f5a58;
  }
  label {
    font-weight: 550;
  }
  label.error {
    color: #eeb9ee;
  }
  #homelink, a { 
    color: rgba(242, 230, 255, 0.95);
  }
  a:focus, a:hover, a:active { 
    color: #a98ee2; 
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  #pg {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #pg {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
  #pg {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
